doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')    
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/compiled.min.css')
    link(rel='stylesheet', href='/stylesheets/mdb.css')

  body.mdb-skin-custom
    block content


  script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
  script(type='text/javascript' src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.1.1/js/mdb.min.js')  
    block script
  script(type='text/javascript', src='/javascripts/stock.js')  
    block ajaxscript
  script(type='text/javascript', src='/javascripts/ready.js')  
    block ready
